<div>

    <h1>Alert Button</h1>

        <div *ngIf="hideContent">
            <!-- <div>
                <p>Warning code {{ severity }}</p>
            </div> -->
            <!-- <div class="message-body">
                {{ content }}Í
            </div> -->
            <div>
                {{jokejson | json}}
            </div>
            <br>
            <div>
                {{joke}}
            </div>
        </div>
    <button (click)="toggle()">generate</button>

</div>